<script type="text/javascript">
    var disclaimersConfirmed = false;
    var confirmDisclaimers = function () {
      disclaimersConfirmed = true;
      document.getElementById('prereg-form').submit();
    }
    var openDisclaimersModal = function() {
      var modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('disclaimers_modal'))
      modal.show();
      document.getElementById('disclaimers_modal').scrollTop(0);

      document.getElementById('disclaimers_modal').on('hidden.bs.modal', function (event) {
        if(typeof serverValidationPassed != 'undefined') { serverValidationPassed = false; }
      })
    }
    
  </script>

<div class="modal fade" id="disclaimers_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">{% include "preregistration/disclaimers.html" %}</div>
          <div class="modal-footer">
            <button class="btn btn-primary btn-lg" data-bs-dismiss="modal" onClick="confirmDisclaimers()">
              I agree to the above
            </button>
          </div>
        </div>
    </div>
</div>